.bg {
  background-repeat: round;
  z-index: -1;
  background-image: url('../../img/bgLogin.jfif');
}

.conteudoPagina {
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}
.tituloPagina{
  color: black;
  font-size: 2.5em;
  font-family: "Bebas Neue";
  text-align: center;
  padding-top: 5vh; 
  padding-bottom: 2vh; 
  margin-bottom: 5vh; 
  border-bottom: 3px solid black;
}

.descricao{
  color: black;
  font-size: 1.5em;
  text-align: center;
  padding-bottom: 2vh; 
  margin-bottom: 5vh; 
}


.center{
  justify-content: center;
  display: flex;
}

.tabelaUser{
  align-self: center;
  width: 80%;
  border: 2px solid black;
  border-collapse: collapse;
    
}
.tabelaUser tr{
  padding: 10px;
  border: 1px solid black;
  font-weight: 600;
}

.tabelaUser td{
  padding: 10px;
  border: 1px solid black;
}
.thead td{
  background-color: #616E7F;
  color: white;
  font-weight: bolder;
}