*{
  margin: 0px;
  padding:0px;
  border:0px;
}


.container{
  height: 100vh;
  background-color: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginBox{
  height: 35vw;
  width:35vw;
  border-radius: 40px;
  background-color: white;
  border: rgb(114, 101, 101) solid 2px;
}
.formAlign{
  align-content: center;
  justify-content: center;
  width: 35vw;
  height: 35vw;
}

.inputLogin{
  width:25vw;
  height:3vw;
  border: 2px solid gray;
  border-radius: 10px; 
  font-size: 1.5em;
  margin-left: 10px;
}
label{
  font-weight: 600;
  font-size: 1.1em;
  padding: 10px;
  display: block;

}


/* Estilos para todos os componentes abaixo */

/* Icones das tabelas */
.App-icon{
  color: black;
}

.App-icon:hover {
  color: rgb(255, 0, 0);
  cursor: pointer;
}

/* Formatação da edição e adição de registros */
.App-Button{
  background-color: #5BAADC !important;
  margin-top: 20px !important;
  margin-right: 20px !important;
  padding:10px;
  border-radius: 5px;
  border: 2px solid black;
  color: white;
}
.App-alignBTN{
  display: flex;
  justify-content: center;
  
}
.App-forms div{
  display: flex;
}

.App-forms div label{
  flex: 50%;
  margin-bottom: 10px;
}

.App-forms div label input{
  width: 50%;
  font-size: 1.2em;
  
}
.App-AddRemoveDiv{
  display: flex;
  justify-content: center;
  padding: 40px;
}

.App-List{
  list-style-type: none;
  text-align: center;
  border-top: 2px solid black; 
}
.App-ListTitle{
  font-weight: 600;
  font-size: 1.4em;
}
/* Fonte Bebas Neue */
@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');